.board-grid {
    display: inline-flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 20% auto;
}
.game-status[disabled] {
    pointer-events: none;
    opacity: 0.8;
  }

  .row {
    margin-right: -55px;
  }
