.space {
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 12px;
    text-align: center;
    border: 1px solid black;
    z-index: 1;
    line-height: 50px;
    font-size: 32px;
}

.space:hover {
    background-color: rgba(163, 223, 228, 0.87);
}

.game-spaces[disabled] {
  pointer-events: none;
  opacity: 0.8;
}
